* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    max-width: 700px;
    width: 100%;
    border-radius: 6px;
    padding: 25px 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: "";
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container form .user-details {
    display: block;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 -2px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .check-marriage {
    display: flex;
    width: 80px;
    margin: 15px 0;
    justify-content: space-between;
}
form .gender-details .gender-title{
    display: flex;
    font-size: 18px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 80px;
    margin: 14px 0;
}

form .skill-details .skill-title {
    display: block;
}

form .skill-details .skill-title .category {
    display: flex;
    width: 80px;
    margin: 15px 0;
    justify-content: space-between;
}

form .input-box .details {
    display: flex;
}

form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 50%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    cursor: pointer;
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
